footer.footer
      .footer__logo
        img(src="/img/logo-green.png", alt="Natours Logo")
      ul.footer__nav
        li.footer__item
          a.footer__link(href="#") About us
        li.footer__item
          a.footer__link(href="#") Download apps
        li.footer__item
          a.footer__link(href="#") Become a guide
        li.footer__item
          a.footer__link(href="#") Careers
        li.footer__item
          a.footer__link(href="#") Contact
      p.footer__copyright
        | &copy; by Jonas Schmedtmann. Feel free to use this project for your own purposes.
        | This does not apply if you plan to claim this project as your own or sell it.
        | A credit to the original author, Jonas Schmedtmann, is of course highly appreciated!